<footer>
    <div class="container d-flex justify-content-between">
        <span class="footer-text"> &copy GreenMart</span>
        <div class="container-social">
            <a href="#" class="social-icon"><img src="/images/instagram.webp" alt="Instagram"></a>
            <a href="#" class="social-icon"><img src="/images/linkedin.png" alt="LinkedIn"></a>
            <a href="#" class="social-icon"><img src="/images/twitter.png" alt="Twitter"></a>
        </div>
    </div>
</footer>
